:root {
  --color-1: #cad2c5;
  --color-2: #84a98c;
  --color-3: #52796f;
  --color-4: #354f52;
  --color-5: #2f3e46;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--color-1);
  margin: 0;
  padding: 0;
  color: var(--color-5);
  text-transform: lowercase;
  overscroll-behavior-block: auto;
  height: 100%;
  overflow: auto;
}

html {
  overflow: hidden;
  height: 100%;
}

a {
  color: var(--color-2);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-5);
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left h1 {
  margin: 0;
  color: var(--color-1);
}

.search-form {
  margin-left: 20px;
  display: flex;
}

.search-form input[type="text"] {
  padding: 7px;
  border: 1px solid var(--color-4);
  border-radius: 3px;
  outline: none;
  font-size: 1em;
}

.search-form button {
  padding: 8px 16px;
  background-color: var(--color-3);
  color: var(--color-1);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1em;
}

.search-form button:hover {
  background-color: var(--color-4);
}

.header-right {
  display: flex;
  align-items: center;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--color-1);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: var(--color-1);
}

.link-container {
  text-align: center;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: transparent;
  color: var(--color-2);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2em;
  margin: 5px;
}

.btn-primary:hover {
  background-color: var(--color-4);
}

.posts {
  margin-top: 20px;
}

.post {
  padding: 20px 0;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-pic {
  width: 40px;
  /* Standardize profile picture size */
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-user-info {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: bold;
  margin: 0;
}

.location {
  color: #666;
  margin: 0;
}

.timestamp {
  color: #999;
  font-size: 0.8em;
  margin: 0;
}

.post-content {
  margin-bottom: 10px;
}

.post-media {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 0 auto;
}

.post-caption {
  font-weight: bold;
  margin-bottom: 10px;
}

.post-actions {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.post-actions button {
  margin-right: 10px;
}

.like-button,
.comment-button {
  background: none;
  border: none;
  color: #87a96b;
  cursor: pointer;
  font-size: 1em;
}

.like-button:hover,
.comment-button:hover {
  color: #c87800;
}

.post-divider {
  border: none;
  border-top: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}


.inline-form {
  display: inline-block;
}

.btn-small {
  padding: 5px 10px;
  font-size: 0.8em;
  border-radius: 5px;
}

.btn-delete {
  padding: 8px 16px;
  border: 1px solid var(--color-3);
  border-radius: 5px;
  font-size: 0.9em;
  background-color: var(--color-3);
  color: var(--color-1);
  cursor: pointer;
}

.btn-delete:hover {
  background-color: var(--color-4);
}

.btn-back {
  padding: 8px 16px;
  border: 1px solid var(--color-3);
  border-radius: 5px;
  font-size: 0.9em;
  background-color: var(--color-3);
  color: var(--color-1);
  cursor: pointer;
}

.btn-back:hover {
  background-color: var(--color-4);
}

.flash-messages {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 600px;
  z-index: 1000;
  text-align: center;
}

.alert {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 0.9em;
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.5s ease-out;
  display: inline-block;
}

.alert-success {
  background-color: var(--color-2);
  color: var(--color-5);
}

.alert-danger {
  background-color: var(--color-4);
  color: var(--color-1);
}

.alert-info {
  background-color: var(--color-3);
  color: var(--color-1);
}

.alert-warning {
  background-color: var(--color-2);
  color: var(--color-5);
}

.alert button {
  position: absolute;
  top: 5px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2em;
  color: inherit;
  cursor: pointer;
}

.hidden {
  display: none;
}

.like-button {
  background-color: grey;
}

.like-button.liked {
  background-color: red;
}