{% extends 'base.html' %}

{% block title %}dashboard{% endblock %}

{% block content %}
<div class="container">
  <h1>dashboard</h1>
  <div class="link-container">
    <a href="{{ url_for('main.spot_map') }}" class="btn btn-primary">spot map</a>
    <a href="{{ url_for('main.create_media') }}" class="btn btn-primary">create post</a>
    <a href="{{ url_for('main.profile') }}" class="btn btn-primary">profile</a>
  </div>

  <h2>posts</h2>
  <div class="posts">
    {% for post in posts %}
    <div class="post">
      <a href="{{ url_for('main.edit_post', post_id=post.id) }}" class="btn btn-primary">edit</a>
      <p>{{ post.user.username }}{% if post.timestamp %} on {{ post.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}{% endif
        %}</p>

      <div class="post-content">
        {% if post.content.endswith('.mp4') %}
        <video controls>
          <source src="{{ post.content }}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        {% else %}
        <img src="{{ post.content }}" alt="post image">
        {% endif %}
      </div>
      {% if post.caption %}
      <p class="post-caption">{{ post.caption }}</p>
      {% endif %}
      <div class="post-actions">
        <form action="{{ url_for('main.like_post', post_id=post.id) }}" method="POST" class="inline-form">
          {{ form.csrf_token }}
          <button type="submit" class="btn btn-primary btn-small">
            like
          </button>
        </form>
        <span>{{ post.likes|length }} likes</span>
        <a href="{{ url_for('main.comments', post_id=post.id) }}" class="btn btn-primary btn-small">{{
          post.comments|length }} comments</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}