{% extends "base.html" %}

{% block title %}edit post{% endblock %}

{% block content %}
<div class="container">
  <h1>edit post</h1>
  <form method="POST" action="{{ url_for('main.edit_post', post_id=post.id) }}">
    {{ form.hidden_tag() }}
    {{ form.caption.label }} {{ form.caption() }}
    {{ form.submit }}
  </form>

  <a href="{{ url_for('main.dashboard') }}" class="btn-back">back</a>

  <form method="POST" action="{{ url_for('main.delete_post', post_id=post.id) }}"
    onsubmit="return confirm('delete post?');">
    {{ form.hidden_tag() }}
    <input type="submit" value="delete post" class="btn-delete">
  </form>
</div>
{% endblock %}