<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>skate hub</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <div class="container">
    <h1>welcome to skate hub!</h1>
    <div class="link-container">
      <a href="{{ url_for('main.login') }}">login</a><br>
      <a href="{{ url_for('main.register') }}">register</a><br>
    </div>
  </div>
</body>

</html>