<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>skate hub</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <div class="container">
    <h1>sign up</h1>

    <form method="POST" action="">
      {{ form.hidden_tag() }}
      {{ form.username(size=32, placeholder="username") }}
      {{ form.password(size=32, placeholder="password") }}
      {{ form.submit(class="btn-small") }}
    </form>


    <div class="link-container">
      <a href="{{ url_for('main.login') }}">already have an account? log in</a>
    </div>
  </div>
</body>

</html>